@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

body {
    background-color: #121212;
    color: #ffffff;
}



.nav {
    background-color: #aa336a;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #e4a6c3;
    color: #121212;
}

.nav a.active {
    background-color: #55cc95;
    color: #121212;
}

.content {
    margin: 8px;
    padding: 4px;
}

.content h1 {
    text-align: center;
}

.content .centre {
    text-align: center;
}

.content .button {
    background-color: #4caf50;
    border: none;
    color: #121212;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}