@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

body {
    background-color: #121212;
    color: #FFFFFF;
}

.content {
    margin: 8px;
    padding: 4px;
}