@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

body {
    background-color: #121212;
    color: #FFFFFF;
}

.nav {
    background-color: #AA336A;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #BBBBBB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.content {
    margin: 8px;
    padding: 4px;
}